---
const message = 'client script';
---

<html lang="en">
  <body>
    <h1>{message}</h1>
  </body>
</html>

<script>
const items = ['foo', 'bar'];
const first = items.find((value) => value === 'foo');

console.info(first);
</script>
