---
import { fontData } from 'astro:assets';
import Ok from '../components/ok.astro';

const title = 'Virtual Module';

console.info(fontData, title);
---

<html lang="en">
  <body>
    <Ok />
  </body>
</html>
